/dist
node_modules/node_modules/
node_modules/.vite/deps/chunk-QXP2ABXY.js.map
node_modules/.vite/deps/chunk-QXP2ABXY.js
node_modules/.vite/deps/chunk-U3LI7FBV.js.map
node_modules/.vite/deps/chunk-U3LI7FBV.js
node_modules/.vite/deps/three_examples_jsm_loaders_FBXLoader__js.js
node_modules/.vite/deps/three_examples_jsm_loaders_FBXLoader__js.js.map
node_modules/.vite/deps/three.js
node_modules/.vite/deps/three.js.map
node_modules
.vercel
.astro
.vscode