---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">

    <section class="flex h-screen w-screen flex-col relative items-center justify-center z-36">
        <!-- <div class="w-1/2 flex items-center justify-center  bg-gradient-to-tr from-red-100 to-red-400 px-2 py-10 z-36"> -->
        <div class="flex flex-row items-center justify-center px-20 py-24 z-36">
            <div class="w-5/6 max-w-1/2 bg-white overflow-hidden rounded-2xl transition duration-500 flex flex-col md:flex-row ">
                <!-- Imagen destacada -->
                <div class="flex md:w-1/2 w-full h-80 md:h-auto justify-center items-center relative bg-gray-200 overflow-hidden">
                
                    <div class="absolute w-44 h-44 bg-red-500 rounded-l-full rounded-t-full -mt-32 ml-40"></div>
                    <div class="absolute w-64 h-64 bg-[url('https://images.unsplash.com/photo-1511367461989-f85a21fda167?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZmlsfGVufDB8fDB8fHww')] bg-cover bg-center rounded-full "></div>
                    <div class="absolute w-20 h-20 bg-red-500 rounded-r-full rounded-t-full -mb-32 mr-40 text-center text-white text-4xl font-bold flex items-center justify-center">
                        <span class="">HI</span>
                    </div>

                </div>

                <!-- Contenido -->
                <div class="md:w-1/2 w-full p-8 flex flex-col justify-between">
                    <div>
                        <h2 class="text-3xl font-bold text-black">I'm Mario Hernández</h2>
                        
                        <p class="mt-6 text-gray-900 text-sm leading-relaxed">
                            I'm a software developer from San Luis Potosí, Mexico, with experience building robust and scalable applications, as well as securely deploying web-based software.
                            I'm focused on delivering creative solutions to technical problems and enjoy collaborating in teams to develop intuitive software that meets the needs of end users.
                            Feel free to check out my portfolio, where I showcase projects ranging from .NET to Astro — including desktop apps built with C# and API integrations.
                            I specialize in building desktop applications using C# and Windows Forms, and I'm currently improving my English to grow professionally and access better job opportunities.
                        </p>
                    </div>

                    <!-- Redes sociales -->
                    <section>
                        <h3 class="font-semibold text-xl text-center mt-4">Follow me:</h3>
                        <div class="flex h-16 justify-center items-center">
                            <div class="items-center">
                                <a href="/" class="hover:text-blue-500 w-16 h-16">
                                    <img src="../src/assets/github.svg" alt="GitHub Logo" class="w-14 h-14 hover:w-16 hover:h-16" />
                                </a>
                            </div>
                            <div class="items-center">
                                <a href="/" class="hover:text-blue-500 w-16 h-16">
                                    <img src="../src/assets/linkedin.svg" alt="LinkedIn Logo" class="w-14 h-14 hover:w-16 hover:h-16" />
                                </a>
                            </div>
                            
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="relative w-screen bg-slate-800 py-3 px-6 text-white text-center text-sm">
            <div class="absolute -top-3 left-0 w-full h-5 bg-white skew-y-3 z-0"></div>
            <p class="relative z-10"> 
                Designed by Mario Hernández · @ninho
            </p>
        </div>
    </section>
</Layout>