---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';

---

<Layout title="Mario Hernández - Portfolio">
	<main class="relod">
		<section class="section flex h-screen w-screen flex-col relative items-center justify-center z-36">
			<Hero />
		</section>

		<section class="section md:px-40 h-screen w-screen flex justify-center items-center z-36">
			<Card title="About me" text="Software developer specialized in C#, Windows Forms, and .NET and passionate about the Astro framework with plugins using React.js or Vue.js that I have used in some of my projects" img="../playa.webp" pick="" href="/aboutme" />
		</section>
		<section class="section md:pl-[740px] h-screen w-screen flex justify-center md:justify-end items-center z-36">
			<Card title="Skills" text="As a developer, from writing clean C# code for desktop apps to working with modern tools like Astro, I'm always learning and improving." img="../bosque.webp" pick="" href="/skills" />
		</section>
		
		<section class="section md:pr-[740px] h-screen w-screen flex justify-center md:justify-start items-center z-36">
			<Card title="Tecnologies" text="This is a list of the technologies I have used in my projects, from C# and .NET to Astro.js and Three.js, including Vue.js and React.js. " img="../montain.webp" pick="" href="/tecnologies" />
		</section>
		
		<section class="section md:px-2 h-screen w-screen flex justify-center md:justify- items-center z-36">
			<Card title="Connect" text="If you want to connect, feel free to reach out through the contact form or follow me on social media." img="../desiert.webp" pick="" href="/connect" />	
		</section>
		
		<section class="section h-screen w-screen text-center overflow-hidden translate-y-0">
			<Footer />
		</section>
		
		
	</main>
	
</Layout>

<style>
.section {
	transition: transform 10s ease-in-out;
}
</style>

