---
import  SocialNetworks  from './SocialNetworks.astro';
---

<section class="flex h-screen w-screen flex-col relative items-center justify-center pt-6 md:pt-12 z-36 overflow-hidden">
    <div class="flex flex-row -skew-y-2  items-center justify-center py-8 md:py-12 z-36">
        <div class="w-auto max-w-4xl bg-white/70 backdrop-blur-lg overflow-hidden rounded-3xl shadow-2xl transform transition-all duration-700 ease-out animate-fade-in-up flex flex-col md:flex-row">
        <!-- Imagen destacada -->
            <div class="flex w-auto md:w-1/2 h-48 md:h-auto p-4 justify-center items-center relative overflow-hidden bg-[var(--color-accent)]">
                <div class="absolute w-20 h-20 md:w-44 md:h-44 bg-[var(--color-primary)] rounded-full -mt-16 ml-24 md:-mt-36 md:ml-48 blur-xl"></div>
                <div class="absolute w-40 h-40 md:w-72 md:h-72 bg-[url('https://images.unsplash.com/photo-1511367461989-f85a21fda167?fm=jpg&q=60&w=3000')] bg-cover bg-center rounded-full shadow-lg border-4 border-[var(--color-accent)]"></div>
                <div class="absolute w-12 h-12 md:w-20 md:h-20 bg-[var(--color-primary)] rounded-r-full rounded-t-full -mb-28 md:-mb-48 mr-28 md:mr-52 text-[var(--color-accent)] text-2xl md:text-4xl font-bold flex items-center justify-center shadow-md">
                    <span>HI</span>
                </div>
            </div>

            <!-- Contenido -->
            <div class="w-auto md:w-3/4 p-4 md:p-8 flex flex-col justify-center text-center md:text-center md:justify-between">
                <div>
                    <h2 class="relative text-3xl bg-[var(--color-secondary)] w-full font-bold text-[var(--color-accent)] animate-slide-in-left ">I'm Mario Hernández</h2>
                    <p class="mt-4 md:mt-6 text-[var(--color-text)] text-xs md:text-sm animate-fade-in">
                        I'm a software developer from San Luis Potosí, Mexico, with experience building robust and scalable applications, as well as securely deploying web-based software.
                        I'm focused on delivering creative solutions to technical problems and enjoy collaborating in teams to develop intuitive software that meets the needs of end users.
                        Feel free to check out my portfolio, where I showcase projects ranging from .NET to Astro — including desktop apps built with C# and API integrations.
                    </p>
                </div>

                <!-- Redes sociales -->
                <SocialNetworks />
            </div>
        </div>
    </div>

    <div class="relative w-screen bg-[var(--color-secondary)] py-3 px-6 text-[var(--color-accent)] text-center text-sm mt-12">
        <div class="absolute -top-3 left-0 w-full h-5 bg-[var(--color-accent)] skew-y-3 z-0"></div>
        <p class="relative z-10">Designed by Mario Hernández · @ninho</p>
    </div>
</section>
    

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer utilities {
        .animate-fade-in {
            @apply opacity-0 animate-[fadeIn_1s_ease-out_forwards];
        }

        .animate-slide-in-left {
            @apply opacity-0 translate-x-[-20px] animate-[slideInLeft_1s_ease-out_forwards];
        }

        .animate-fade-in-up {
            @apply opacity-0 translate-y-6 animate-[fadeInUp_1s_ease-out_forwards];
        }

        @keyframes fadeIn {
            to {
            opacity: 1;
            }
        }

        @keyframes slideInLeft {
            to {
            opacity: 1;
            transform: translateX(0);
            }
        }

        @keyframes fadeInUp {
            to {
            opacity: 1;
            transform: translateY(0);
            }
        }
    }
</style>