---
import SocialNetworks from './SocialNetworks.astro';
import Emailjs from './emailjs.vue';
---

<section class="flex flex-col -skew-y-2 md:flex-row items-center justify-center min-h-screen px-6 relative overflow-hidden py-16 z">

    <div class="section bg-white/80 text-[var(--color-textTitle)] p-10 md:w-1/3 rounded-t-3xl md:rounded-l-3xl md:rounded-tr-none shadow-lg ">
        <h2 class="relative text-2xl text-[var(--color-accent)] text-center font-bold mb-8 z-10">Contact Us</h2>
        <div class="flex w-full md:h-auto p-4 justify-center items-center mb-2">
            <div class="absolute w-44 h-44 bg-[var(--color-primary)] rounded-t-2xl -mt-52 z-1"></div>
            <div class="w-52 h-52 bg-[url(/perfil.webp)] bg-cover bg-center rounded-full shadow-lg border-4 border-[var(--color-accent)] z-10"></div>
            <!-- <div class="absolute w-72 h-44 bg-red-500 rounded-b-2xl mt-52 z-1"></div> -->
            <div class="absolute w-24 h-14 bg-[var(--color-primary)] text-[var(--color-accent)] rounded-full -mb-40 text-xl font-bold flex items-center justify-center shadow-md z-20">
                <span>TKS</span>
            </div>
        </div>

        <SocialNetworks />
    </div>
    
    <!-- Right Form Panel -->
    <div class="section bg-[var(--color-primary)] p-10 md:w-1/2 rounded-b-3xl md:rounded-r-3xl md:rounded-bl-none text-sm text-gray-800 shadow-lg pr-10">
        <h2 class="text-2xl font-bold mb-8 text-[var(--color-accent)]">Send email</h2>
        <Emailjs client:load />
    </div>
      
</section>