---
import SocialNetworks from '../components/SocialNetworks.astro';
---

<footer class="bg-[url('/footer-mountain.png')] bg-auto 2xl:bg-cover 2xl:bg-center bg-no-repeat sm:py-[18vh] md:py-[20vh] 2xl:py-[30vh]  from-gray-800 to-transparent">
    
</footer>

<footer class="bg-gray-800 text-[var(--color-accent)] xl:h-full ">
    <div class="h-4 sm:h-8 bg-gradient-to-b from-gray-900 to-transparent"></div>
    <div class="mx-auto ">
        <div class="grid grid-cols-1 md:grid-cols-4">
            <div class="flex mt-6 md:mb-0 md:p-4 justify-center items-center overflow-hidden">
                <div class="absolute w-20 h-20 md:w-32 md:h-32 bg-[var(--color-primary)] rounded-full mt-10 md:mt-20 mr-16 "></div>
                <div class="absolute w-20 h-20 md:w-32 md:h-32 bg-[var(--color-primary)] rounded-full -mt-10 md:-mt-20 ml-16 "></div>
                <div class="w-36 h-36 md:w-48 md:h-48 bg-[url('/perfil.webp')] bg-cover bg-center rounded-full shadow-lg border-4 border-[var(--color-accent)] z-10"></div>  
            </div>
            <div class="flex flex-col mb-4 md:mb-0 p-2 md:p-0 text-[var(--color-accent)] justify-center items-center basis-0 xl:text-base">
                <p class="text-xs">
                    Tks for visiting my portfolio! I'm a passionate software developer with a focus on web development and full-stack solutions. If you have any questions or want to connect, feel free to reach out through the contact form or follow me on social media.
                </p>
                <SocialNetworks />
            </div>
            <div class="flex flex-col mb-4 md:mb-0 flex-grow justify-center items-center basis-0">    
                <a href="/">
                    <img class="w-16 h-16 md:w-20 md:h-20" src="/MakeWeb_MM.svg" alt="MakeWeb Logo" />
                </a>            
                <a href="/">
                    <img class="w-auto h-8 md:h-30" src="/MakeWeb_MW.svg" alt="MakeWeb Logo" />
                </a>                
            </div>
            <div class="flex flex-col flex-grow text-[var(--color-accent)] justify-center items-center basis-0">
                <h3 class="font-semibold text-sm md:text-lg">Web Development</h3>
                <ul class="mt-2 md:mt-4 text-base">
                    <li class="justify-items-center">
                        <div >
                            <a  href="">
                                <img class="w-16 h-16 md:w-20 md:h-20" src="/favicon.svg" alt="Astro Logo" />
                            </a> 
                        </div>
                    </li>
                    <li>
                        <a class="text-xs">Astro • Three.js • Tailwind CSS • Vue.js</a>
                    </li>
                    <li>
                        <a class="text-sm">Ninho Entreteniment S.A. de C.V.</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center h-8">
        <p class="text-lg text-[var(--color-accent)] text-center pb-4 "><br>© 2024 MAKEWEB</p>
    </div>
</footer>


    


