<footer class="bg-[url('/footer-mountain.png')] bg-auto bg-no-repeat sm:py-[20vh] md:py-[23vh] xl:py-[23vh] 2xl:py-[35vh] from-gray-800 to-transparent">
    
</footer>

<footer class="bg-gray-800 text-white xl:h-full ">
    <div class="h-10 sm:h-16 bg-gradient-to-b from-gray-900 to-transparent"></div>
    <div class="mx-auto px-5 xl:py-10 lg:px-10 xl:px-20 2xl:px-25">
        <div class="grid grid-cols-1 md:grid-cols-4">
            <section class="flex flex-col flex-grow items-center basis-0 space-x-4 ">    
                <a href="/">
                    <img class="w-20 h-20 sm:w-10 sm:h-10" src="/MakeWeb_MM.svg" alt="MakeWeb Logo" />
                </a>            
                <a href="/">
                    <img class="py-2 w-52 h-30 sm:h-10" src="/MakeWeb_MW.svg" alt="MakeWeb Logo" />
                </a>                
            </section>
            <section class="mx-auto px-5 text-[13px] sm:text-xs md:text-sm 2xl:text-xl">
                <p class="text-gray-400">
                    Imagina tu invitación que nosotros la hacemos, MakeWeb fue realizado con el fin de poder ayudar a las personas a crear su propio espacio en la web. 
                </p>
                <p class="text-gray-400 mt-2">Phone: +52 916-75-2235</p>
                <p class="text-gray-400">Email: info@makeweb.mx</p>
                <p class="text-gray-400">Website: www.makeweb.mx</p>
            </section>
            <section>
                <h3 class="font-semibold text-center text-lg">Siguenos:</h3>
                <div class="flex justify-center space-x-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="object-center size-16 sm:size-8" viewBox="0,0,256,256">
                        <g transform="scale(4,4)">
                            <circle cx="32" cy="32" r="23" fill="#37d0ee"></circle>
                            <ellipse cx="32" cy="61" opacity=".3" rx="19" ry="3"></ellipse>
                            <path fill="#fff" d="M32,14c2.577,0,4.674-1.957,4.946-4.461C35.352,9.19,33.699,9,32,9	C19.297,9,9,19.297,9,32c0,1.699,0.19,3.352,0.539,4.946C12.044,36.674,14,34.577,14,32C14,22.075,22.075,14,32,14z" opacity=".3"></path><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" d="M15.047,23.427c1.878-3.699,4.932-6.705,8.666-8.522"></path>
                            <path fill="#fff" d="M40,19h-3.987c-6.282,0-7.993,2.994-7.997,8.326L28,31h-4c-0.552,0-1,0.448-1,1v4	c0,0.552,0.448,1,1,1h4v17.646C29.3,54.874,30.635,55,32,55c1.018,0,2.018-0.073,3.001-0.201l0.006-17.793l4.325-0.005	c0.488-0.001,0.905-0.354,0.985-0.836l0.667-4.001C41.085,31.555,40.615,31,39.997,31H35l-0.003-3.331	c0-1.707,0.274-2.674,2.72-2.674l2.281,0.004c0.553,0.001,1.002-0.447,1.002-1V20C41,19.448,40.552,19,40,19z"></path>
                            <path d="M54.461,27.054C51.956,27.326,50,29.423,50,32c0,9.925-8.075,18-18,18	c-2.577,0-4.674,1.957-4.946,4.461C28.648,54.81,30.301,55,32,55c12.703,0,23-10.297,23-23C55,30.301,54.81,28.648,54.461,27.054z" opacity=".15"></path>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="object-center size-16 sm:size-8" viewBox="0,0,256,256">
                        <g transform="scale(4,4)">
                            <circle cx="32" cy="32" r="23" fill="#fcfcfc" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"></circle>
                            <ellipse cx="32" cy="61" rx="19" ry="3" fill="#000000" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.3"></ellipse><path d="M32,14c2.577,0 4.674,-1.957 4.946,-4.461c-1.594,-0.349 -3.247,-0.539 -4.946,-0.539c-12.703,0 -23,10.297 -23,23c0,1.699 0.19,3.352 0.539,4.946c2.505,-0.272 4.461,-2.369 4.461,-4.946c0,-9.925 8.075,-18 18,-18z" fill="#343ec2" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.3"></path>
                            <path d="M15.047,23.427c1.878,-3.699 4.932,-6.705 8.666,-8.522" fill="none" stroke="#343ec2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M54.461,27.054c-2.505,0.272 -4.461,2.369 -4.461,4.946c0,9.925 -8.075,18 -18,18c-2.577,0 -4.674,1.957 -4.946,4.461c1.594,0.349 3.247,0.539 4.946,0.539c12.703,0 23,-10.297 23,-23c0,-1.699 -0.19,-3.352 -0.539,-4.946z" fill="#000000" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.15"></path>
                            <g fill="#343ec2" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter">
                                <path d="M21.321,27.071h3.286c0.454,0 0.821,0.368 0.821,0.821v14.786c0,0.454 -0.368,0.821 -0.821,0.821h-3.286c-0.454,0 -0.821,-0.368 -0.821,-0.821v-14.785c0,-0.454 0.368,-0.822 0.821,-0.822z"></path>
                                <path d="M22.95,25.429h-0.028c-1.471,0 -2.422,-1.096 -2.422,-2.465c0,-1.399 0.981,-2.463 2.478,-2.463c1.499,0 2.423,1.065 2.45,2.463c0.001,1.367 -0.951,2.465 -2.478,2.465z"></path>
                                <path d="M39.393,43.5c-0.454,0 -0.821,-0.368 -0.821,-0.821v-7.899c0,-2.106 -1.174,-3.544 -3.059,-3.544c-1.438,0 -2.217,0.97 -2.594,1.907c-0.138,0.335 -0.097,1.263 -0.097,1.732v7.804c0,0.454 -0.368,0.821 -0.821,0.821h-3.286c-0.454,0 -0.821,-0.368 -0.821,-0.821v-14.786c0,-0.454 0.368,-0.821 0.821,-0.821h3.285c0.454,0 0.821,0.368 0.821,0.821v1.643c0.691,-1.07 1.91,-2.469 4.677,-2.469c3.429,0 6,2.298 6,7.112l0.001,8.499c0,0.454 -0.368,0.822 -0.821,0.822z"></path>
                            </g>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="object-center size-16 sm:size-8" viewBox="0,0,256,256">
                        <g transform="scale(4,4)">
                            <circle cx="32" cy="32" r="23" fill="#00acee" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"></circle>
                            <path d="M45.417,21.938c0.436,-0.513 -0.111,-1.267 -0.733,-1.007c-1.038,0.433 -2.173,0.822 -2.978,0.982c-0.04,0.011 -0.073,0.024 -0.113,0.036c-1.22,-1.202 -2.891,-1.949 -4.74,-1.949c-3.727,0 -6.749,3.022 -6.749,6.749c0,0.196 -0.016,0.558 0,0.749c-4.213,0 -7.584,-1.849 -10.182,-4.429c-0.658,-0.653 -1.778,-0.213 -1.829,0.716c-0.016,0.253 -0.022,0.509 -0.022,0.762c0,2.102 1.642,4.164 4.2,5.444c-0.471,0.122 -0.989,0.209 -1.529,0.209c-0.496,0 -1.18,-0.204 -1.736,-0.42c-0.438,-0.169 -0.876,0.236 -0.747,0.687c0.662,2.324 3.329,3.896 5.733,4.378c-0.562,0.331 -1.696,0.364 -2.249,0.364c-0.162,0 -0.5,-0.031 -0.864,-0.073c-0.587,-0.067 -0.984,0.598 -0.638,1.076c1.18,1.622 3.416,2.52 5.564,2.558c-1.456,1.142 -3.853,1.78 -6.242,2.058c-0.844,0.098 -1.029,1.253 -0.256,1.607c2.193,1 4.384,1.567 6.816,1.567c11.144,0 17.48,-8.496 17.48,-16.502c0,-0.129 -0.002,-0.4 -0.007,-0.671c0,-0.027 0.007,-0.053 0.007,-0.08c0,-0.04 -0.011,-0.08 -0.011,-0.12c-0.004,-0.204 -0.009,-0.396 -0.013,-0.493c0.84,-0.607 1.602,-1.32 2.264,-2.118c0.233,-0.28 -0.047,-0.689 -0.391,-0.578c-0.747,0.242 -1.524,0.416 -2.327,0.511c0.705,-0.424 1.581,-1.18 2.292,-2.013z" fill="#ffffff" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"></path>
                            <ellipse cx="32" cy="61" rx="19" ry="3" fill="#000000" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.3"></ellipse><path d="M32,14c2.577,0 4.674,-1.957 4.946,-4.461c-1.594,-0.349 -3.247,-0.539 -4.946,-0.539c-12.703,0 -23,10.297 -23,23c0,1.699 0.19,3.352 0.539,4.946c2.505,-0.272 4.461,-2.369 4.461,-4.946c0,-9.925 8.075,-18 18,-18z" fill="#ffffff" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.3"></path><path d="M15.047,23.427c1.878,-3.699 4.932,-6.705 8.666,-8.522" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M54.461,27.054c-2.505,0.272 -4.461,2.369 -4.461,4.946c0,9.925 -8.075,18 -18,18c-2.577,0 -4.674,1.957 -4.946,4.461c1.594,0.349 3.247,0.539 4.946,0.539c12.703,0 23,-10.297 23,-23c0,-1.699 -0.19,-3.352 -0.539,-4.946z" fill="#000000" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.15"></path>
                        </g>
                    </svg>
                </div>
            </section>
            <section class="flex flex-col flex-grow items-center basis-0 ">
                <h3 class="font-semibold text-lg">Web Development</h3>
                <ul class="mt-4 text-gray-400 sm:text-sm md:text-base">
                    <li class="justify-items-center">
                        <div >
                            <a  href="">
                                <img class="w-20 h-20" src="/favicon.svg" alt="Astro Logo" />
                            </a> 
                        </div>
                    </li>
                    <li><a href="" class="hover:text-white"></a>Astro.js & Three.js</li>
                    <li><a href="#" class="hover:text-white">Ninho Entreteniment S.A. de C.V.</a></li>
                </ul>
            </section>
        </div>
    </div>
    <div class="mx-auto flex justify-center items-center ">
        <p class="text-lg text-white text-center py-2 pb-4"><br>© 2024 MAKEWEB</p>
    </div>
</footer>


    


