---
import Text from '../components/Text.astro';
---

<Text />
<div class="pt-28 pb-20  text-[30px]">
    <spam class="relative border-4 inline-block before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-[#422f4b] text-sm md:text-[30px] z-0">
        <a
    class="relative block  px-6 py-2 text-white md:text-[30px] font-semibold z-10 animate-fade-in opacity-0 animation-delay-500">
    Software Developer | Freelance Fullstack | Philanthropic | Engineer | Programmer
  </a>
    </spam>
</div>

<div class="justify-center shadow-xl pb-8 text-[#422f4b]">
    <a class="border-2 border-[#422f4b] rounded-lg font-medium px-5 py-2 inline-block " href="/">View</a>
</div>