 <div class="grid grid-cols-1 md:grid-cols-3 -skew-y-2 items-center text-base md:text-xl text-center justify-center font-bold bg-white/80 text-[var(--color-primary)] p-4 rounded-xl shadow-lg ">
    <h2 class="w-44 relative text-center m-2 z-10">• CREATION •</h2>
    <h2 class="w-44 relative  m-2 z-10">• INOVATION •</h2>
    <h2 class="w-44 relative text-center m-2 z-10">• IMAGINATION •</h2>
</div>