 <div class="grid grid-cols-3 items-center justify-center bg-white/80 text-white p-4 rounded-xl shadow-lg ">
    <h2 class="flex flex-grow w-44 relative text-xl m-2 text-center font-bold z-10">• CREATION •</h2>
    <h2 class="flex flex-grow w-44 relative text-xl m-2 text-center font-bold z-10">• INOVATION •</h2>
    <h2 class="flex flex-grow w-44 relative text-xl m-2 text-center font-bold z-10">• IMAGINATION •</h2>
</div>