<div class="mt-2">
    <h3 class="font-semibold text-xl text-center">Follow me:</h3>
    <div class="flex justify-center items-center gap-6">
        <a href="/" class="hover:scale-110 transition-transform duration-300">
            <img src="../github.svg" alt="GitHub" class="w-12 h-12" />
        </a>
        <a href="/" class="hover:scale-110 transition-transform duration-300">
            <img src="../linkedin.svg" alt="LinkedIn" class="w-12 h-12" />
        </a>
    </div>
</div>