
<div class="w-full mt-10 md:mt-0 flex justify-center items-center h-[100px] bg-transparent">
    <div class="relative inline-block">
        <h1 class="text-4xl sm:text-8xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-secondary)] whitespace-nowrap border-r-4 border-[var(--color-accent)] animate-typing overflow-hidden drop-shadow-[0_2px_4px_rgba(0,0,0,0.6)]">
            Hi, I'm Mario
        </h1>
    </div>

</div>

<style is:global>
    @keyframes typing {
        from { width: 0 }
        to { width: 16ch }
    }

    @keyframes blink {
        50% { border-color: transparent; }
    }

    .animate-typing {
        width: 16ch;
        animation: typing 2s steps(16), blink 0.75s step-end infinite;
        white-space: nowrap;
        overflow: hidden;
    }
</style>

